footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../img/background-footer.svg);
    background-size: cover;
}

footer a {
    color: black;
    text-decoration: none;
}

.box__footer {
    margin-left: 25px;
    margin-top: 25px;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.copy {
    font-size: 20px;
    color: black;
    text-align: center;
}